repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: nixfmt
        name: nixfmt
        entry: nixfmt
        language: system
        files: \.nix$

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: ./.pre-commit-prettier.sh
        language: system
        types_or: [ts, tsx, javascript, jsx, json, markdown, html, css, scss, sass, svelte]
        files: ^server/
        pass_filenames: true

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: \.(sh|bash)$
        args: ['--severity=warning']

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.7.0-4
    hooks:
      - id: shfmt
        files: \.(sh|bash)$
        args: ['-i', '2', '-ci', '-w']
